MYSQL_DATABASE=payroll_schema_dev
MYSQL_USER=payroll
MYSQL_PASSWORD=password
MYSQL_ROOT_PASSWORD=root_password
DEBUG=True
SECRET_KEY=secret
MYSQL_HOST=db
DEFAULT_FROM_EMAIL=Drcnoreply@gmail.com
EMAIL_HOST_PASSWORD=Drc@12345
EMAIL_HOST_USER=Drcnoreply@gmail.com
EMAIL_USE_TLS=True
EMAIL_PORT=587
EMAIL_HOST=smtp.gmail.com
EMAIL_BACKEND=djcelery_email.backends.CeleryEmailBackend