<style>
    /* Columns */
    div.dropdown-multicol {
        display: flex;
        flex-direction: row;
        width: 900px;
        font-size: 11px;
    }

    div.dropdown-multicol > div {
        width: 23%;
        border-left: 1px solid #B4B4B4;
    }

    div.dropdown-multicol > div.wider {
        width: 31%;
        border-left: 1px solid #B4B4B4;
    }

    @media screen and (max-width: 1024px) {
        div.dropdown-multicol {
            display: flex;
            flex-direction: column;
            padding: 0;
            max-width: 400px;
            font-size: 13px;
        }

        div.dropdown-multicol > div {
            border-bottom: 1px solid #B4B4B4;
            border-left: none;
            min-width: 100%;
        }

        div.dropdown-multicol > div.wider {
            border-bottom: 1px solid #B4B4B4;
            border-left: none;
            min-width: 100%;
        }
    }

    @media screen and (max-width: 768px) {
        div.dropdown-multicol {
            display: flex;
            flex-direction: column;
            padding: 0;
            max-width: 735px;
            font-size: 13px;
        }

        div.dropdown-multicol > div {
            border-bottom: 1px solid #B4B4B4;
            border-left: none;
            min-width: 100%;
        }

        div.dropdown-multicol > div.wider {
            border-bottom: 1px solid #B4B4B4;
            border-left: none;
            min-width: 100%;
        }
    }

    @media screen and (max-width: 705px) {
        div.dropdown-multicol {
            display: flex;
            flex-direction: column;
            padding: 0;
            max-width: 672px;
            font-size: 12px;
        }

        div.dropdown-multicol > div {
            border-bottom: 1px solid #B4B4B4;
            border-left: none;
            min-width: 100%;
        }

        div.dropdown-multicol > div.wider {
            border-bottom: 1px solid #B4B4B4;
            border-left: none;
            min-width: 100%;
        }
    }

    @media screen and (max-width: 414px) {
        div.dropdown-multicol {
            display: flex;
            flex-direction: column;
            padding: 0;
            max-width: 381px;
            font-size: 15px;
        }

        div.dropdown-multicol > div {
            border-bottom: 1px solid #B4B4B4;
            border-left: none;
            min-width: 100%;
        }

        div.dropdown-multicol > div.wider {
            border-bottom: 1px solid #B4B4B4;
            border-left: none;
            min-width: 100%;
        }
    }

    @media screen and (max-width: 411px) {
        div.dropdown-multicol {
            display: flex;
            flex-direction: column;
            padding: 0;
            max-width: 378px;
            font-size: 15px;
        }

        div.dropdown-multicol > div {
            border-bottom: 1px solid #B4B4B4;
            border-left: none;
            min-width: 100%;
        }

        div.dropdown-multicol > div.wider {
            border-bottom: 1px solid #B4B4B4;
            border-left: none;
            min-width: 100%;
        }
    }

    @media screen and (max-width: 375px) {
        div.dropdown-multicol {
            display: flex;
            flex-direction: column;
            padding: 0;
            max-width: 342px;
            font-size: 12px;
        }

        div.dropdown-multicol > div {
            border-bottom: 1px solid #B4B4B4;
            border-left: none;
            min-width: 100%;
        }

        div.dropdown-multicol > div.wider {
            border-bottom: 1px solid #B4B4B4;
            border-left: none;
            min-width: 100%;
        }
    }

    @media screen and (max-width: 360px) {
        div.dropdown-multicol {
            display: flex;
            flex-direction: column;
            padding: 0;
            max-width: 327px;
            font-size: 12px;
        }

        div.dropdown-multicol > div {
            border-bottom: 1px solid #B4B4B4;
            border-left: none;
            min-width: 100%;
        }

        div.dropdown-multicol > div.wider {
            border-bottom: 1px solid #B4B4B4;
            border-left: none;
            min-width: 100%;
        }
    }

    @media screen and (max-width: 320px) {
        div.dropdown-multicol {
            display: flex;
            flex-direction: column;
            padding: 0;
            max-width: 287px;
            font-size: 12px;
        }

        div.dropdown-multicol > div {
            border-bottom: 1px solid #B4B4B4;
            border-left: none;
            min-width: 100%;
        }

        div.dropdown-multicol > div.wider {
            border-bottom: 1px solid #B4B4B4;
            border-left: none;
            min-width: 100%;
        }
    }

    div.content-section {
        background: #ffffff;
        padding: 10px 20px;
        border: 1px solid #dddddd;
        border-radius: 3px;
        margin-bottom: 20px;
    }
</style>