{% load users_extras %}
{% load reports_extras %}
{% load humanize %}

<div class="flex-column">
    <div class="pdf p-2" style="width: 450px">
        <div class="border-top mb-4 d-flex flex-nowrap justify-content-center w-100">
            <div class="p-2 align-self-center">
                <img src="/media/logo.png" class="img-fluid" style="width: 3em; height: 3em">
            </div>
            <div class="p-2 align-self-end">
                <h4 class="text-center" style="text-align: center;">
                    {{ period.payroll_center.name }}
                </h4>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table table-sm">
                <thead>
                <tr>
                    <th colspan="2">
                        <h4 class="border-bottom text-center" style="text-align: center;">
                            Pay Slip
                        </h4>
                    </th>
                </tr>
                </thead>
                <tbody>
                {% for staff in data|get_distinct_employee_set %}
                    <tr>
                        <th scope="row">Pay Period:</th>
                        <td>{{ period.month }} - {{ period.year }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Agresso/Staff ID:</th>
                        <td>{{ staff.id_number }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Name:</th>
                        <td>{{ staff.user.get_full_name }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Department:</th>
                        <td>{{ staff.department }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Duty Station:</th>
                        <td>{{ staff.duty_station }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Job Title:</th>
                        <td>{{ staff.job_title }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Grade/Step:</th>
                        <td>{{ staff.grade }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Bank Name:</th>
                        <td>{{ staff.bank_1 }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Currency:</th>
                        <td>{{ staff.currency }}</td>
                    </tr>

                    <tr>
                        <th scope="row" colspan="2">
                            <h3 class="mt-3 border-top"><strong>Earnings Details</strong></h3>
                        </th>
                    </tr>
                    {% for processor in data|payslip_data:staff|category:1 %}
                        <tr>
                            {% for k, value in processor.items %}
                                {% if k == 'earning_and_deductions_type__ed_type' %}
                                    <th>{{ value }}</th>
                                {% else %}
                                    <td class="d-flex justify-content-end borderless">
                                        {{ value|intcomma }}
                                    </td>
                                {% endif %}
                            {% endfor %}

                        </tr>
                    {% endfor %}
                    <div class="border-top-3"></div>
                    {% with staff|report:period as report %}
                        <tr>
                            <th scope="row"><h5>Total Earnings</h5></th>
                            <td class="d-flex justify-content-end borderless">
                                {{ report.gross_earning|intcomma }}
                            </td>
                        </tr>
                    {% endwith %}
                    <div class="border-bottom-3"></div>

                    <tr>
                        <th scope="row" colspan="2">
                            <h3 class="mt-3 border-top"><strong>Deductions Details</strong></h3>
                        </th>
                    </tr>
                    {% for processor in data|payslip_data:staff|category:2 %}
                        <tr>
                            {% for k, value in processor.items %}
                                {% if k == 'earning_and_deductions_type__ed_type' %}
                                    <th>{{ value }}</th>
                                {% else %}
                                    <td class="d-flex justify-content-end borderless">
                                        {{ value|intcomma }}
                                    </td>
                                {% endif %}
                            {% endfor %}

                        </tr>
                    {% endfor %}

                    {% for processor in data|payslip_data:staff|category:3 %}
                        <tr>
                            {% for k, value in processor.items %}
                                {% if k == 'earning_and_deductions_type__ed_type' %}
                                    <th>{{ value }}</th>
                                {% else %}
                                    <td class="d-flex justify-content-end borderless">
                                        {{ value|intcomma }}
                                    </td>
                                {% endif %}
                            {% endfor %}

                        </tr>
                    {% endfor %}

                    {% with staff|report:period as report %}
                        <tr>
                            <th scope="row"><h5>Total Deductions</h5></th>
                            <td class="d-flex justify-content-end borderless">
                                {{ report.total_deductions|intcomma }}
                            </td>
                        </tr>
                    {% endwith %}

                    {% with staff|report:period as report %}
                        <tr>
                            <th scope="row"><h4>Net Pay</h4></th>
                            <td class="d-flex justify-content-end borderless">
                                {{ report.net_pay|intcomma }}
                            </td>
                        </tr>
                    {% endwith %}
                {% endfor %}
                </tbody>
                <tfoot>
                <tr>
                    <th colspan="2">
                        <div style="margin-top: 5px">
                            <span style="margin-right: 6px">Prepared by......................</span>
                            <span>Reviewed by.....................</span>
                        </div>
                    </th>
                </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>