/* Style the body */
html, body {
    font-family: Roboto, sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 21px;
    color: #444444;
    background-color: #f1f1f1;
}

.bg-red {
    background-color: #E61D2B;
}

.bg-btn-red {
    background-color: #E53935;
    color: white;
}

.ml-10 {
    margin-left: 10%;
}

.navbar-img {
    margin: 0;
    padding: 0;
}

nav#bottom-nav{
    margin-bottom: 35px;
}

.nav-img {
    height: 38px;
    width: 38px;
    margin: 0 16px 0 30px;
    padding: 0;
}

.shadow {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.has-search .form-control {
    padding-left: 2.375rem;
}

.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}

input[type=text]#search-input, button.nav-btn {
    border: none;
    background-color: #EB4651;
    color: white;
}

.fa-search, .fa-times {
    color: white;
}

button.nav-btn:hover {
    border: none;
    background-color: #EB4651;
    color: white;
}