{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="content-section">
        <h4 class="border-bottom mb-4">Earning and Deductions</h4>
        <div class="table-responsive">
            <table id="table_id" class="table table-sm table-striped table-bordered w-100">
                <caption class="border-bottom mb-4">Earning and Deductions</caption>
                <thead class="thead-dark">
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Category</th>
                    <th>Recurrent</th>
                    <th>Taxable</th>
                </tr>
                </thead>
                <tbody>
                {% for ed_type in object_list %}
                    <tr>
                        <td>
                            <a href="{% url 'payroll:ed-type-detail' ed_type.id %}">{{ ed_type.ed_type }}</a>
                        </td>
                        <td>{{ ed_type.description }}</td>
                        <td>{{ ed_type.ed_category }}</td>
                        <td>{{ ed_type.recurrent }}</td>
                        <td>{{ ed_type.taxable }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock content %}
{% block scripts %}
    <script>
        $(document).ready(function() {
            $('#table_id').DataTable( {
                dom: 'lBfrtip',
                scrollX: true,
                scrollCollapse: true,
                autoWidth: true,
                paging: true,
                buttons: [
                    'copy', 'csv', 'excel',
                    {
                        extend: 'pdfHtml5',
                        orientation: 'landscape',
                    },
                    'print'
                ]
            } );
        } );
    </script>
{% endblock scripts %}