{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="content-section">
        <h4 class="border-bottom mb-4">{{ title }}</h4>
        <div class="table-responsive-md">
            <table id="table_id" class="table table-sm table-striped table-bordered w-100">
                <caption class="border-bottom mb-4">{{ title }}</caption>
                <thead class="thead-dark">
                <tr>
                    <th>Payroll key</th>
                    <th>Payroll center</th>
                    <th>Month</th>
                    <th>Year</th>
                    <th>Dollar rate</th>
                    <th>Status</th>
                </tr>
                </thead>
                <tbody>
                {% for payroll_period in object_list %}
                    <tr>
                        <td>
                            <a href="{% url 'payroll:payroll-period-update' payroll_period.id %}">{{ payroll_period.payroll_key }}</a>
                        </td>
                        <td>{{ payroll_period.payroll_center }}</td>
                        <td>{{ payroll_period.month }}</td>
                        <td>{{ payroll_period.year }}</td>
                        <td>{{ payroll_period.processing_dollar_rate }}</td>
                        <td>{{ payroll_period.status }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock content %}
{% block scripts %}
    <script>
        $(document).ready(function() {
            $('#table_id').DataTable( {
                dom: 'lBfrtip',
                scrollX: true,
                scrollCollapse: true,
                autoWidth: true,
                paging: true,
                buttons: [
                    'copy', 'csv', 'excel',
                    {
                        extend: 'pdfHtml5',
                        orientation: 'landscape',
                    },
                    'print'
                ]
            } );
        } );
    </script>
{% endblock scripts %}