{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block css %}
    {% include 'partials/users.css' %}
{% endblock css %}
{% block content %}
    <div class="alert alert-info alert-dismissible fade" role="alert">
        There are currently no Employees in the system
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="content-section">
        <h3 class="border-bottom mb-4">{{ title }}</h3>
        <div class="table-responsive">
            <table class="table table-sm table-borderless table-hover">
                <thead class="thead-dark">
                <tr>
                    <th>Payroll key</th>
                    <th>Payroll center</th>
                    <th>Month</th>
                    <th>Year</th>
                    <th>LST</th>
                    <th>Action</th>
                    <th>Status</th>
                </tr>
                </thead>
                <tbody>
                {% for payroll_period in object_list %}
                    <tr>
                        <td>
                            <a href="{% url 'payroll:payroll-period-update' payroll_period.id %}">{{ payroll_period.payroll_key }}</a>
                        </td>
                        <td>{{ payroll_period.payroll_center }}</td>
                        <td>{{ payroll_period.month }}</td>
                        <td>{{ payroll_period.year }}</td>
                        <td>
                            <label class="switch">
                                <input id="process_lst_{{ payroll_period.id }}" type="checkbox">
                                <span class="slider round"></span>
                            </label>
                        </td>
                        <td class="d-flex">
                            <button id="{{ payroll_period.id }}" class="btn btn-sm btn-primary process-payroll p-2">
                                Process
                            </button>
                            <div id="loader{{ payroll_period.id }}" class="p-2 align-self-center"></div>
                        </td>
                        <td>{{ payroll_period.status }}</td>
                    </tr>
                {% empty %}
                    <p class="text-center">No Payroll centers yet</p>
                {% endfor %}
                </tbody>
            </table>
        </div>
        {% include 'partials/pagination.html' %}
    </div>
{% endblock content %}
{% block scripts %}
    <script>
        $(function () {
            function getCookie(name) {
                let cookieValue = null;
                if (document.cookie && document.cookie !== '') {
                    let cookies = document.cookie.split(';');
                    for (let i = 0; i < cookies.length; i++) {
                        let cookie = cookies[i].trim();
                        // Does this cookie string begin with the name we want?
                        if (cookie.substring(0, name.length + 1) === (name + '=')) {
                            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                            break;
                        }
                    }
                }
                return cookieValue;
            }

            let csrftoken = getCookie('csrftoken');

            function csrfSafeMethod(method) {
                // these HTTP methods do not require CSRF protection
                return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
            }

            $.ajaxSetup({
                beforeSend: function(xhr, settings) {
                    if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                        xhr.setRequestHeader("X-CSRFToken", csrftoken);
                    }
                }
            });

            $('.process-payroll').on('click', function () {
                let id = $(this).attr('id');
                let loaderId = '#loader'+id;
                let btnId = '#'+id;
                $(btnId).hide();
                $(loaderId).addClass('loader');
                console.log('Processing....');

                let processUrl = '/users/payroll_period/' + id + '/process/';
                let processLST = document.getElementById('process_lst_'+id);
                let LSTValue;
                if (processLST.checked === true) {
                    LSTValue = 'True'
                } else {
                    LSTValue = 'False'
                }

                let data = {
                    'process_lst': LSTValue
                };

                $.post(processUrl, data, function (response) {
                    $(loaderId).removeClass('loader');
                    $(btnId).show();
                    if(response.status === 'Failed') {
                        console.log(response.status);
                        $('.alert').addClass('show');
                    }else {
                        console.log(response.status);
                        window.location.href = '/reports/summary_report/' + id;
                    }
                });
            })
        });
    </script>
{% endblock scripts %}