{% extends 'payroll/../base.html' %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="content-section text-left">
        <legend class="border-bottom mb-4">Payroll Period</legend>
        Payroll center: <p style="font-weight: bold">{{ object.payroll_center }}</p>
        Month: <p style="font-weight: bold">{{ object.month }}</p>
        Year: <p style="font-weight: bold">{{ object.year }}</p>
        Payroll key: <p style="font-weight: bold">{{ object.payroll_key }}</p>
        Status: <p style="font-weight: bold">{{ object.status }}</p>
        Dollar rate: <p style="font-weight: bold">{{ object.processing_dollar_rate }}</p>
    </div>
{% endblock content %}