{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="content-section">
        <h4 class="border-bottom mb-4">Payroll centers</h4>
        <div class="d-flex flex-row-reverse">
            <div class="p-2">
                <a class="btn btn-success btn-md" href="{% url 'payroll:payroll-center-create' %}">Create</a>
            </div>
        </div>
        <div class="table-responsive-md">
            <table id="table_id" class="table table-sm table-striped table-bordered w-100">
                <caption class="border-bottom mb-4">Payroll centers</caption>
                <thead class="thead-dark">
                <tr>
                    <th>Payroll Center</th>
                    <th>Country</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for payroll_center in object_list %}
                    <tr>
                        <td>{{ payroll_center.name }}</td>
                        <td>{{ payroll_center.country }}</td>
                        <td>
                            <a class="btn btn-primary btn-sm"
                               href="{% url 'payroll:payroll-center-detail' payroll_center.pk %}">View</a>
                            <a class="btn btn-warning btn-sm"
                               href="{% url 'payroll:payroll-center-update' payroll_center.pk %}">Edit</a>
                            <a class="btn btn-danger btn-sm" href="">Delete</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock content %}
{% block scripts %}
    <script>
        $(document).ready(function() {
            $('#table_id').DataTable( {
                dom: 'lBfrtip',
                scrollX: true,
                scrollCollapse: true,
                autoWidth: true,
                paging: true,
                buttons: [
                    'copy', 'csv', 'excel',
                    {
                        extend: 'pdfHtml5',
                        orientation: 'landscape',
                    },
                    'print'
                ]
            } );
        } );
    </script>
{% endblock scripts %}