{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load humanize %}

{% block content %}
    <div class="content-section">
        <h4 class="border-bottom mb-4">Approved Staff List</h4>
        <div class="table-responsive">
            <table id="table_id" class="table table-sm table-striped table-bordered w-100">
                <caption class="border-bottom mb-4">Approved Staff List</caption>
                <thead class="thead-dark">
                <tr>
                    <th>First name</th>
                    <th>Last name</th>
                    <th>Duty station</th>
                    <th>Department</th>
                    <th>Job title</th>
                    <th>Status</th>
                </tr>
                </thead>
                <tbody>
                {% for employee in object_list %}
                    <tr>
                        <td>
                            <a href="{% url 'users:user_change_group' pk=employee.pk %}">{{ employee.user.first_name }}</a>
                        </td>
                        <td>{{ employee.user.last_name }}</td>
                        <td>{{ employee.duty_station }}</td>
                        <td>{{ employee.department }}</td>
                        <td>{{ employee.job_title }}</td>
                        <td class="text-success">{{ employee.employment_status }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock content %}
{% block scripts %}
    <script>
        $(document).ready(function() {
            $('#table_id').DataTable( {
                dom: 'lBfrtip',
                scrollX: true,
                scrollCollapse: true,
                autoWidth: true,
                paging: true,
                buttons: [
                    'copy', 'csv', 'excel',
                    {
                        extend: 'pdfHtml5',
                        orientation: 'landscape',
                        pageSize: 'A1',
                    },
                    'print'
                ]
            } );
        } );
    </script>
{% endblock scripts %}