{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load humanize %}

{% block content %}
    <div class="content-section">
        <h4 class="border-bottom mb-4">Duty Stations</h4>
        <div class="d-flex flex-row-reverse">
            <div class="p-2">
                <a class="btn btn-success btn-md" href="{% url 'support_data:duty-station-create' %}">Create</a>
            </div>
        </div>
        <div class="table-responsive">
            <table id="table_id" class="table table-sm table-striped table-bordered w-100">
                <caption class="border-bottom mb-4">Duty Stations</caption>
                <thead class="thead-dark">
                <tr>
                    <th>Name</th>
                    <th>Country</th>
                    <th>Earning</th>
                    <th>Amount</th>
                    <th>Description</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for duty_station in object_list %}
                    <tr>
                        <td>{{ duty_station.duty_station }}</td>
                        <td>{{ duty_station.country }}</td>
                        <td>{{ duty_station.earnings_type }}</td>
                        <td>{{ duty_station.earning_amount|intcomma }}</td>
                        <td>{{ duty_station.description }}</td>
                        <td class="text-primary">
                            <a class="btn btn-primary btn-sm"
                               href="{% url 'support_data:duty-station-detail' pk=duty_station.pk %}">View</a>
                            <a class="btn btn-warning btn-sm"
                               href="{% url 'support_data:duty-station-update' pk=duty_station.pk %}">Edit</a>
                            <a class="btn btn-danger btn-sm"
                               href="#">Delete</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock content %}
{% block scripts %}
    <script>
        $(document).ready(function() {
            $('#table_id').DataTable( {
                dom: 'lBfrtip',
                scrollX: true,
                scrollCollapse: true,
                autoWidth: true,
                paging: true,
                buttons: [
                    'copy', 'csv', 'excel',
                    {
                        extend: 'pdfHtml5',
                        orientation: 'landscape',
                    },
                    'print'
                ]
            } );
        } );
    </script>
{% endblock scripts %}