{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load humanize %}

{% block content %}
    <div class="content-section">
        <div class="d-flex flex-row-reverse">
            <div class="p-2">
                <form action="{% url 'users:edit-employee' %}" method="GET">
                    <input type="text" name="q">
                    <input type="submit" value="Search">
                </form>
            </div>
        </div>
        <h3 class="border-bottom mb-4">Approved Staff List</h3>
        <div class="table-responsive">
            <table class="table table-sm table-hover">
                <thead class="thead-dark">
                <tr>
                    <th>First name</th>
                    <th>Last name</th>
                    <th>Date Of Birth</th>
                    <th>Sex</th>
                    <th>Marital status</th>
                    <th>Mobile No.</th>
                    <th>Email</th>
                    <th>ID No.</th>
                    <th>Passport</th>
                    <th>Nationality</th>
                    <th>Residential address</th>
                    <th>District</th>
                    <th>Duty country</th>
                    <th>Duty station</th>
                    <th>Department</th>
                    <th>Job title</th>
                    <th>Appointment date</th>
                    <th>Contract type</th>
                    <th>Cost centre</th>
                    <th>Grade</th>
                    <th>Gross salary</th>
                    <th>Currency</th>
                    <th>TIN No.</th>
                    <th>Social security</th>
                    <th>Social security No.</th>
                    <th>Payroll Center</th>
                    <th>Bank 1</th>
                    <th>A/C 1</th>
                    <th>Bank 1 %age</th>
                    <th>Bank 2</th>
                    <th>A/C 2</th>
                    <th>Bank 2 %age</th>
                    <th>Kin full name</th>
                    <th>Kin phone no.</th>
                    <th>Kin email</th>
                    <th>Relationship</th>
                    <th>DR A/C code</th>
                    <th>CR A/C code</th>
                    <th>Status</th>
                </tr>
                </thead>
                <tbody>
                {% for employee in object_list %}
                    <tr>
                        <td>
                            <a href="{% url 'users:user-detail' pk=employee.pk %}">{{ employee.user.first_name }}</a>
                        </td>
                        <td>{{ employee.user.last_name }}</td>
                        <td>{{ employee.date_of_birth|date:'d/m/Y' }}</td>
                        <td>{{ employee.sex }}</td>
                        <td>{{ employee.marital_status }}</td>
                        <td>{{ employee.mobile_number }}</td>
                        <td>{{ employee.user.email }}</td>
                        <td>{{ employee.id_number }}</td>
                        <td>{{ employee.passport_number }}</td>
                        <td>{{ employee.nationality }}</td>
                        <td>{{ employee.residential_address }}</td>
                        <td>{{ employee.district }}</td>
                        <td>{{ employee.duty_country }}</td>
                        <td>{{ employee.duty_station }}</td>
                        <td>{{ employee.department }}</td>
                        <td>{{ employee.job_title }}</td>
                        <td>{{ employee.appointment_date|date:'d M, Y' }}</td>
                        <td>{{ employee.contract_type }}</td>
                        <td>{{ employee.cost_centre }}</td>
                        <td>{{ employee.grade }}</td>
                        <td>{{ employee.gross_salary|intcomma }}</td>
                        <td>{{ employee.currency }}</td>
                        <td>{{ employee.tin_number }}</td>
                        <td>{{ employee.social_security }}</td>
                        <td>{{ employee.social_security_number }}</td>
                        <td>{{ employee.payroll_center }}</td>
                        <td>{{ employee.bank_1 }}</td>
                        <td>{{ employee.first_account_number }}</td>
                        <td>{{ employee.first_bank_percentage }}</td>
                        <td>{{ employee.bank_2 }}</td>
                        <td>{{ employee.second_account_number }}</td>
                        <td>{{ employee.second_bank_percentage }}</td>
                        <td>{{ employee.kin_full_name }}</td>
                        <td>{{ employee.kin_phone_number }}</td>
                        <td>{{ employee.kin_email }}</td>
                        <td>{{ employee.kin_relationship }}</td>
                        <td>{{ employee.dr_ac_code }}</td>
                        <td>{{ employee.cr_ac_code }}</td>
                        <td class="text-success">{{ employee.employment_status }}</td>
                    </tr>
                {% empty %}
                    <p class="text-center">No approved "Employees" yet</p>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="d-flex flex-row justify-content-end">
            {% if is_paginated %}

                {% if page_obj.has_previous %}
                    <a class="btn btn-outline-primary mb-4" href="?page=1">First</a>
                    <a class="btn btn-outline-primary mb-4"
                       href="?page={{ page_obj.previous_page_number }}">Previous</a>
                {% endif %}

                {% for num in page_obj.paginator.page_range %}
                    {% if page_obj.number == num %}
                        <a class="btn btn-primary mb-4" href="?page={{ num }}">{{ num }}</a>
                    {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                        <a class="btn btn-outline-primary mb-4" href="?page={{ num }}">{{ num }}</a>
                    {% endif %}
                {% endfor %}

                {% if page_obj.has_next %}
                    <a class="btn btn-outline-primary mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
                    <a class="btn btn-outline-primary mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
                {% endif %}

            {% endif %}
        </div>
    </div>
{% endblock content %}