{% extends 'payroll/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="content-section">
        <legend class="border-bottom mb-4">Terminated Employees</legend>
        <div class="table-responsive-md">
            <table class="table table-sm table-borderless table-hover">
                <thead class="thead-dark">
                <tr>
                    <th>Name</th>
                    <th>Job Title</th>
                    <th>ID Number</th>
                    <th>Email</th>
                    <th>Mobile No</th>
                    <th>Department</th>
                    <th>Employee status</th>
                </tr>
                </thead>
                <tbody>
                {% for employee in object_list %}
                    <tr>
                        <td><a href="{% url 'users:user-detail' pk=employee.pk %}">{{ employee.user.get_full_name }}</a>
                        </td>
                        <td>{{ employee.job_title }}</td>
                        <td>{{ employee.id_number }}</td>
                        <td>{{ employee.user.email }}</td>
                        <td>{{ employee.mobile_number }}</td>
                        <td>{{ employee.department }}</td>
                        <td class="text-danger">{{ employee.employment_status }}</td>
                    </tr>
                {% empty %}
                    <p class="text-center">No terminated "Employees"</p>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="d-flex flex-row justify-content-end">
            {% if is_paginated %}

                {% if page_obj.has_previous %}
                    <a class="btn btn-outline-primary mb-4" href="?page=1">First</a>
                    <a class="btn btn-outline-primary mb-4"
                       href="?page={{ page_obj.previous_page_number }}">Previous</a>
                {% endif %}

                {% for num in page_obj.paginator.page_range %}
                    {% if page_obj.number == num %}
                        <a class="btn btn-primary mb-4" href="?page={{ num }}">{{ num }}</a>
                    {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                        <a class="btn btn-outline-primary mb-4" href="?page={{ num }}">{{ num }}</a>
                    {% endif %}
                {% endfor %}

                {% if page_obj.has_next %}
                    <a class="btn btn-outline-primary mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
                    <a class="btn btn-outline-primary mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
                {% endif %}

            {% endif %}
        </div>
    </div>
{% endblock content %}