{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="content-section">
        <form id="movementsForm" method="POST" data-user="{{ user_id }}"
              data-movement-url="{% url 'users:ajax_load_current_earning' %}">
            {% csrf_token %}

            <div class="form-group">
                {{ form|crispy }}
                <button class="btn btn-success" type="submit">SUBMIT</button>
                <a class="btn btn-danger" href="{% url 'users:employee_movements_changelist' %}">CANCEL</a>
            </div>
        </form>
    </div>
{% endblock content %}

{% block scripts %}
    <script>
        let div_working_days = $("#div_id_hours");
        div_working_days.css("display", "none");

        let amount_from = $("#id_move_from");

        $("#id_earnings").change(function () {
            let form = $("#movementsForm");
            let url = form.attr('data-movement-url');
            let user_id = form.attr('data-user');
            let earnings_id = $(this).val();
            amount_from.prop("readonly", true);
            let amount_to = $("#id_move_to");
            amount_from.val("");

            let id_val = parseInt(earnings_id);
            console.log(id_val);

            let data = {
                'parameter': earnings_id,
                'user_id': user_id
            };

            let period_input = $("#id_payroll_period");
            let hour_input = $("#id_hours");

            if (id_val > 1) {
                div_working_days.css("display", "none");
                period_input.change(function () {
                    data['period'] = $(this).val();
                    $.ajax({
                        url: url,
                        data: data,
                        success: function (data) {
                            amount_from.val(data['amount']);
                        }
                    });
                });
            } else {
                period_input.change(function () {
                    data['period'] = $(this).val();
                    $.ajax({
                        url: url,
                        data: data,
                        success: function (data) {
                            amount_from.val(data['amount']);
                            let newAmt = (parseFloat(data['working_days'])/22.0) * parseFloat(data['amount']);
                            hour_input.val(data['working_days']);
                            amount_to.val(newAmt);
                        }
                    });

                });
                $("label[for='id_hours']").text("Working days");
                div_working_days.css("display", "block");
            }

        })
    </script>
{% endblock scripts %}