{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="content-section text-left">
        <h3 class="border-bottom mb-4">SOF</h3>
        Project code: <p style="font-weight: bold">{{ object.project_code}}</p>
        SOF code: <p style="font-weight: bold">{{ object.sof_code}}</p>
        SOF name: <p style="font-weight: bold">{{ object.sof_name }}</p>
        <a class="btn btn-success" href="{% url 'users:sof-list' %}">
            BACK
        </a>
    </div>
{% endblock content %}